<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
       margin: 0;
       padding: 0;
     }
   </style>
<body>
    
  <header style="background-color: yellow; 
  color: blue;
  width: 100%; 
  margin: 0 auto;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content:space-around;
  font-size: 17px; ">
  <div>
    <span>ouverte</span>
  <img src="https://img.freepik.com/vecteurs-libre/horloge-bureau-vecteur-cercle-moderne-signe-entreprise_41737-10.jpg?w=740" alt="horloge" width="50px" height="50px" />
</div>
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>

    </header>
    <div style="display: flex; justify-content: space-around">   
        <img src="https://tse2.mm.bing.net/th?id=OIP.BzNO8u6iGdLqbbafpyPVVwHaJ4&pid=Api&P=0&w=157&h=209" alt="img1" width="50%" height="50%" />
        <img src="https://tse1.mm.bing.net/th?id=OIP.6WVK4jevOxth18pc9V-FegHaE8&pid=Api&P=0&w=316&h=210" alt="img2" width="50%" vh="50%" /> 
    </div>
</body>
</html>